*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth; 
}

.imagenGrande {
    width: 7vw;
    height: auto;
}

.imagenGrande:hover {
    scale: 1.1;
    cursor: pointer;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    background-color: #c4c4c4;
}

body > header {
    background: #2e2e2e;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
}

#estrella1{
    width: 2vw;
    height: auto;
    cursor: pointer;
}
#estrella1:hover{
    scale: 1.5;
}
.estrellas{
    width: 7vw;
    height: auto;
    cursor: pointer;
    margin: 2vh;

}
.estrellas:hover{
    scale: 1.5;
}

#cabezera{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#cabezeraArriba{
    text-align: center;
    height: 70%;
    width: 100%;
    display: flex;  
}

#cabezeraAbajo{
    height: 30%;
    display: flex;
    text-align: center;
}
.imagen{
    width: 2.5vw;
    height: auto;
}

.imagenCentral{
    width: 20vw;
    height: auto;
}

#dificultad{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.452);
}

nav > a {
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

nav > a:hover {
    background-color: #0a0f0a;
  }

#principal{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #c4c4c4;
    width: 100%;
    height: 75vh;
    justify-content: center;
}

#celdaTablero{
    background-color: #333;
    width: 550px;
    height: 550px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.452);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: auto;
    margin: 4vw;
}

#tablero{
    margin: auto;
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: #fff;
    border: thin solid black;
}

#tablero > div{
    border: thin solid black;
}

.color2{
    background: linear-gradient(to bottom, #743f36e8, #412823f1);
}

.color1{
    background: linear-gradient(to bottom, #ffe89de3, #c9b67a);
}

.ficha{
    width: 60px;
    height: 60px;
    scale: 1.1;
}

.ficha:hover{
    transform: scale(1.05);
}

h1{
    margin: auto;
    font-size: 2rem;
}

footer {
    text-align: center;
    padding: 30px 0;
    background: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    h4{
        display: none;
    }
    .imagen{
        width: 4vw;
        height: auto;
    }
    #rey{
        margin-top: 40%;
    }
    #cabezeraArriba{
        height: 60%;
        width: 100%;
    }
    
    #cabezeraAbajo{
        height: 40%;
    }
    #tablero{
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .ficha{
        width: 35px;
        height: 35px;
        scale: 1.1;
    }
    #celdaTablero{
        width: 350px;
        height: 350px;
    }
    .imagenCentral{
       display: none;
    }
    #principal{
        display: flex;
        flex-direction: column;
    }
    #dificultad{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30vw;
    }
}